@import  'slick';
@import  'slick-theme';

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #f2f6f7;
    color: #2c353a;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}
.slider {
	margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
	max-width: 100%;
    max-height: 162px;
	display: block;
    margin: 0 auto;
}
.slick-dots {
    position: relative;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 40px 0 60px;
}
.product-tile-inner {
    position: relative;
    background: #fff;
	.product-tile {
		position: relative;
		text-align: center;
		background: #fff;
		padding: 30px;
		font-family: Arial,Sans-Serif;
		.product-image {
			height: 120px;
			position: relative;
		}
		.product-name {
			margin: 20px 0;
			height: 50px;
			color: #2c353a;
			font-size: 14px;
			line-height: 1.186;
			text-align: center;
			overflow: hidden;
			font-weight: bold;
			font-family: Arial,Sans-Serif;
		}
		.product-price {
			margin-bottom: 15px;
			color: #acb7b9;
			font-size: 14px;
			font-family: Arial,Sans-Serif;
		}
	}
}
